.site_background{
background-color: #f9fafa;
height: 100vh;
}


.main_navbar {
background-color: #344D59;
}

.nav_content_color {
color : #fafafa;
}

.img-fluid {
 height: 400px;
 width: 100%;
}

.nav_grid {
display: grid;
grid-template-columns: 1fr 4fr 2fr;
background-color: #344D59;

}

.nav_container {
display : flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}

.home_font {
    font-size: x-large;
    font-family: "Roboto";
    color:#344D59;
}

.images_homepage{
max-width: 100%;

}

.home_page {
display: grid;
grid-template-rows: 1fr 4fr;

}

.home_items {
display: flex;
align-items: center;
justify-self: center;
}

h3 {
font-size: medium;
}

a  {
  color: black;
}

.space_before {
margin-top:1rem;
}

.marge_gauche {
margin-left: 2%;
}

a.connexionLoging {
text-decoration:none;
color: black;
margin-left: 2rem;
margin-right: 2rem;
}

a.connexionLoging:hover {
 text-decoration: underline;
}

.horizontal-box {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.vertical-box {
  display: flex;
  flex-direction : column;
  align-items: center;
}

strong {
font-weight : bold;
color: #048B9A;
}

.nav-link.active{
color: #048B9A !important;
}

.duck_blue{
color: #048B9A;
}

.montest {
display: flex;
flex-direction: row;
flex-basis: 0;
flex-grow: 1;
}

.grid_card {
  display: grid;
  grid-template-columns: 10% 75%;
  grid-gap: 3%;
}