.main_navbar {
background-color: #344D59;
}

.nav_content_color {
color : #fafafa;
}
.test {
    font-size: x-large;
    font-family: "Roboto";
}

h3 {
font-size: medium;
}

a  {
  color: black;
}

.space_before{
margin-top:1rem;
}

.marge_gauche {
margin-left: 2%;
}

a.connexionLoging {
text-decoration:none;
color: black;
margin-left: 2rem;
margin-right: 2rem;
}

a.connexionLoging:hover {
 text-decoration: underline;
}

.horizontal-box {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.vertical-box {
  display: flex;
  flex-direction : column;
  align-items: center;
}

strong {
font-weight : bold;
color: #048B9A;
}

.nav-link.active{
color: #048B9A !important;
}

.duck_blue{
color: #048B9A;
}

.montest {
display: flex;
flex-direction: row;
flex-basis: 0;
flex-grow: 1;
}

.grid_card {
  display: grid;
  grid-template-columns: 10% 75%;
  grid-gap: 3%;
}