{% extends "monimmo/base.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Poster un message{% endblock %}</title>

{% block content %}
</head>
    <body>
    <div class="form-group vertical-box space_before">
        <div class="col-md-5 space_before">
            <h1> Poster un nouveau message</h1> <br>
            <h3> Sujet : {{Sujet}} </h3>
                <form method="POST"> {% csrf_token %}
                    <div class="col-md-7 space_before">
                        {{form.content}}
                        {{form.subject}}
                    </div>
                    <input type="submit" class="btn btn-dark space_before" value="Poster" />
                 </form>
        </div>
    </div>
</body>

{% endblock %}
</html>