{% extends "monimmo/base.html" %}
{% load static %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <title>{% block title %}Créer un nouveau sujet{% endblock %}</title>
</head>

<div class="form-group vertical-box space_before">
    <h1> Poster un nouveau sujet</h1><br>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="col-md-8 space_before">
            <label>Titre</label>
            {{form.title}}
        </div>
        <div> {{form.user}}</div>
        <br>
        <div class="col-md-12">
            <label>Message</label>
            <br>
            {{form.media}}
            {{form.content}}
            <br>
            {{form.post_image}}
        </div>
        {{form.topic}}
        {{form.programme}}
        <br>
        <input type="submit" class="btn btn-dark" value="Poster" />
    </form>
</div>
{% endblock  %}
