{% extends "monimmo/base.html" %}
{% load static %}

<!DOCTYPE html>

<html>
  <head>
      <title>{% block title %}Accueil{% endblock %}</title>
  </head>

    <body>

    {% block content %}

    <div class="home_page">
        <div class="home_items">
            <p class="home_font">
                <br>
                Echangez autour de votre projet d'acquisition
            </p>
        </div>

        <div class="home_items">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner"  >
                    <div class="carousel-item text-center active"  data-bs-interval="3000" >
                      <img src="{% static 'monimmo/images/main_build.jpg' %}" style="width: 50%"  alt="First slide">
                    </div>
                    <div class="carousel-item text-center" data-bs-interval="3000" >
                      <img src="{% static 'monimmo/images/main_building_sunset.jpg' %}" style="width: 50%" alt="Second slide">
                    </div>
                </div>
            </div>
        </div>
    </div>

  {% endblock %}

    </body>

