{% extends "monimmo/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Programme {{programme.nom}} {% endblock %}</title>
</head>
<body>
{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Info sur le programme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{programme.get_absolute_url_themes}}>Forum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>

<div class="montest">
  <div class="card-body">
    <h3> Bienvenue sur l'espace du programme <strong>{{programme.nom}}</strong></h3>
    <br>
    <p1>{{programme.description}}</p1>
  </div>

  <div class="card-body" style="width: 60rem;">
    <p> Promoteur : <br> <strong> {{programme.promoteur}} </strong> </p>
    <p> Date de livraison prévue : <br> <strong>{{programme.date_livraison_act}}</strong> <br></p>
    <p> Avancement du programme : <br> <strong> {{programme.get_statut_display }}  </strong> </p>

    </p>


    {% for reservation in programme.reservation_set.all %}
    {% if user.pk != reservation.user.pk %}
    <input type="submit" class="btn btn-dark" value="Suivre">
    {% endif %}
    {% endfor %}
  </div>




</div>

{% endblock %}

</body>
</html>