{% extends "monimmo/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Détail sujet {% endblock %}</title>
</head>

{% block content %}
<body>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href={{Programme.get_absolute_url}}>Info sur le programme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href={{Programme.get_absolute_url}}themes>Forum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Link</a>
  </li>
</ul>

<br>
<div class="marge_gauche">
  <p> Programme : {{Programme.nom}}</p>
  <nav class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href={{Programme.get_absolute_url}}themes>Thèmes</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href={{Programme.get_absolute_url}}themes/{{active_topic.slug}}>{{active_topic.title}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{Subject.title}}</li>
    </ol>
  </nav>
  <h5> Sujet : {{Subject.title}}</h5>
  <a type="button" href="post_reply/" class="btn btn-sm btn-primary">Répondre</a>
  <br>
  <br>
</div>
  <!--Partie supérieur contenant les info du premier post (sujet)-->
  <div class="topic-container">
    <div class="topic-date-container">
      {{Subject.post_at}}
    </div>

    <div class="topic-author-container">
      <div class="topic-avatar-container">
      {{Subject.user|make_list|first|capfirst}}
      </div>
      {{Subject.user}}
    </div>
    <div class="topic-text-container">
      <div class="image">
        {{Subject.content|safe}}
        {% if Subject.post_image %}
          <img src="{{ Subject.post_image.url }}">
      {% endif %}
      </div>
    </div>
  </div>

<br>
<!-- Partie inférieure contenant les posts-->
{% for post in Posts %}
<div class="topic-container">
  <div class="topic-date-container">
    {{post.post_at}}
  </div>
  <div class="topic-author-container">
    {{post.user}}
  </div>
  <div class="topic-text-container">
    {{post.content|safe}}
  </div>
</div>
<br>
{% endfor %}
</body>
{% endblock %}
