<!DOCTYPE html>
{% extends "monimmo/base.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Sujets {% endblock %}</title>
</head>

<body>
{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href={{Programme.get_absolute_url}}>Info sur le programme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active " href=reverse>Forum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<br>
<p> Programme : {{Programme.nom}}</p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href={{Programme.get_absolute_url}}themes>Thèmes</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{active_topic.title}}</li>
  </ol>
</nav>

<div class="subjects-infos">
  <h5 class="subjects">Thème : {{active_topic.title}}</h5>
  <a type="button" href="form_subject/" class="btn btn-sm btn-primary subjects"  >Nouveau sujet</a>
</div>
  {% for subject, nb_post in topic %}
<div class="grid-subjects">
      <div class="containerSubInfo">
          <a class="forum-title" href={{subject.slug}}/{{subject.pk}}>{{subject.title}} </a>
      </div>
      <div class="containerSubReply">
          <span class="badge bg-primary rounded-pill">{{nb_post}}</span>
      </div>
</div>

  {% endfor %}

  {% endblock %}
</body>