{% extends "monimmo/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Espace d'échange {% endblock %}</title>
</head>
<body>
{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href={{Programme.get_absolute_url}}>Info sur le programme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Forum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<br>
<p> Programme : {{Programme.nom}}</p>


<ul class="list-group ">
    {% for topic, topic_count in Topics %}
  <li class="list-group-item-theme">
    <div class="theme-container">
      <a class="fw-bold" href={{Programme.get_absolute_url_themes}}/{{topic.slug}}>{{topic.title}}</a>
      <br>
      {{topic.description}}
    </div>
    <div class="theme-container2">
      <div class="nb_sub">
        <span class="badge bg-primary rounded-pill">{{topic_count}}</span>
      </div>
      <div class="nb_sub_text">
        <p> sujets</p>
      </div>
    </div>
  </li>
     {% endfor %}
</ul>

{% endblock %}
</body>
</html>