{% extends "monimmo/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Espace d'échange {% endblock %}</title>
</head>
<body>
{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href={{Programme.get_absolute_url}}>Info sur le programme</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Forum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<br>

<p class="topic"> Programme : <strong> {{Programme.nom}} </strong> </p>
    {% for topic, topic_count in Topics %}
    <div class="grid-topic">
      <div class="topic1">
        <a class="fw-bold" href={{Programme.get_absolute_url_themes}}/{{topic.slug}}>{{topic.title}}</a>
      </div>
      <div class="topic2">
        {{topic.description}}
      </div>
      <div class="topic3">
        <p class="topic2"> sujets</p>
        <span class="badge test2 rounded-pill">{{topic_count}}</span>
      </div>
    </div>
     {% endfor %}

{% endblock %}
</body>
</html>